#message {
	float: left;
	width: 80%;
}
#login-body {
}
#regist-body {
	display: none;
}

#main .right-side .btn-wrap a.btn-theme {
	display: block;
	height: 60px;
	line-height: 60px;
	background: #fccc00;
	color: #333;
	font-size: 20px;
	text-align: center;
	font-weight: 400;
}
#main .right-side .btn-wrap a.btn-theme span {
	font-family: "moonico";
}
#main .right-side .btn-wrap a.btn-theme:active {
	-moz-box-shadow: 0px 0px 30px #cda600 inset;
	-webkit-box-shadow: 0px 0px 30px #cda600 inset;
	box-shadow: 0px 0px 30px #cda600 inset;
	-webkit-transition: all 0s ease-in-out;
	-moz-transition: all 0s ease-in-out;
	-o-transition: all 0s ease-in-out;
	transition: all 0s ease-in-out;
}

#main .right-side .hot-wrap {
	width: 90%;
	padding: 20px 15px 20px 15px;
	background: #FFF;
	box-shadow: 0px 2px 4px #EEE;
	margin-top: 20px;
}
#main .right-side .hot-wrap .title a {
	font-family: "moonico";
	display: block;
	color: #b8b8b8;
	font-size: 12px;
	margin-top: 5px;
	float: right;
}
#main .right-side .hot-wrap .title a:hover {
	color: #fed100;
}
#main .right-side .hot-wrap ul.ul-hot {
	margin-top: 20px;
	text-align: left;
}
#main .right-side .hot-wrap ul.ul-hot li {
	height: 30px;
	line-height: 30px;
	font-size: 13px;
	overflow: hidden;
}
#main .right-side .hot-wrap ul.ul-hot li a {
	color: #7c7c7c;
}
#main .right-side .hot-wrap ul.ul-hot li a:before {
	content: "·";
	font-size: 12px;
	font-weight: bold;
	margin-right: 5px;
	color: #ababab;
}
#main .right-side .hot-wrap ul.ul-hot li a:hover {
	color: #fed100;
}

#main .right-side .hot-wrap .img-container {
	width: 100%;
	height: 184px;
	overflow: hidden;
	margin-top: 20px;
}
#main .right-side .hot-wrap .img-container img {
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
	width: 100%;
}
#main .right-side .hot-wrap .img-container img:hover {
	-moz-transform: scale(1.1, 1.1);
	-webkit-transform: scale(1.1, 1.1);
	-o-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
}
a:hover,
a:visited,
a:link,
a:active{
	text-decoration: none;
}

@media screen and (min-width: 992px) {
}
@media screen and (min-width: 768px) and (max-width: 991px) {
}
@media screen and (max-width: 767px) {
}